/**
 * @name {{QUERY_NAME}}
 * @description Python sink extraction template.
 * @kind problem
 * @id {{QUERY_ID}}
 * @problem.severity recommendation
 */

import python

/*
  Fill SINK_CALL_PREDICATE with risky API families and callable-specific arg indices.
*/

{{SINK_CALL_PREDICATE}}

from {{SINK_NODE_BINDINGS}}
where {{SINK_WHERE}}
select {{SINK_SELECT}}
